* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*general*/
html {
  font-size: 10px;
}
img {
  max-width: 100%;
}
.container {
  margin-left: 12%;
  width: 1200px;
  max-width: 85%;
}
/*header*/
.header-img {
  min-height: 665px;
  background: url(../img/bg_pic.jpg) no-repeat top;
  background-size: contain;

}

    /*nav*/
.logo {
  height: auto;
  width: 100px;
  max-width: 50%;
}
nav {
  padding-top: 24px;
  height: 80px;
  background: black;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu {
  width: 50%;
}
.nav-menu li {
  list-style: none;
  color: #fff;
  display: inline-block;
  margin-left: 6%;
}


/*article-block*/
.section-1 {
  margin-top: 80px;
}
.block-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.article {
  display: block;
  width: 55%;
}
.features {
  margin-top: 175px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.article h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 5%;
  margin-top: 85px;
  margin-bottom: 65px;
}
.block-article-features {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.block-article-features-numbers {
  height: 50px;
  width: 50px;
  background: #23b7a4; /*change*/
  color: #fff;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  margin-left: 4%;
  margin-right: 1%;
}
.block-article-features-text {
  display: block;
  width: 82%;
}
.block-article-features-text p {
  display: block;
  width: 100%;
}

/*lovely work block*/

.section-2 {
  background: rgb(58, 69, 77);
}
.block-photo-lovely-work {
  width: 100%;
  margin-top: 95px;
  padding-top: 85px;
}
.block-photo-lovely-work h2 {
  margin-left: 5%;
  margin-bottom: 60px;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}
.img-wrapper {
  position: relative;
  width: 30%;
  margin: 35px 30px 0 0;
}
.lovely-work-img-info {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background: black;
  opacity: 0.5;
  color: #fff;
  font-size: 1.6rem;
  padding-left: 2rem;
  line-height: 6rem;
  text-transform: uppercase;
}
.photo-wrapper-lovely-work {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 0 2%;
}
.photo-wrapper-lovely-work img {
  width: 100%;
}
/*what we do block*/

/*features block*/
.section-4 {
  background: rgb(58, 69, 77);
}
.block-features {
  min-height: 600px;
  margin-top: 85px;
  padding-top: 90px;
}
.block-features h2 {
  margin-left: 5%;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}
.features-photo {
  margin-left: 2%;
}
.features-photo p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
}
.features-photo h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.features-photo-wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
}

/*fonts*/
.article, .block-article-features-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.block-features h2, .article h2, .block-photo-lovely-work h2 {
  font-family: 'Quattrocento Sans', sans-serif;
}
